---
layout: landing-page
---

		<!-- One -->
			<section id="one" class="wrapper style1">
				<header class="major">
					<h2>Research Aims</h2>
				</header>
				<div class="container">
					<p class="align-center">Our research mission is to better understand the pathophysiology of orthopaedic soft tissues, including
						intervertebral disc of the spine and meniscus of the knee, in order to develop novel strategies to treat and
						prevent tissue degeneration.  To this end, we aim to characterize the effects of mechanical loading, tissue structure,
						and degeneration on tissue transport and electromechanical properties as well as cellular viability and behavior.</p>
					<div class="row">
						<div class="4u">
							<section class="special box">
								<i class="icon fa-area-chart major"></i>
								<h3>Transport Properties</h3>
								<p>Characterization of articular cartilage tissue.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-refresh major"></i>
								<h3>Nutritional Supply</h3>
								<p>Diffusional transport of cellular nutrients.</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-cog major"></i>
								<h3>Mechanobiology</h3>
								<p>Signal pathways involved in mechanotransduction.</p>
							</section>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<header class="major">
					<h2>Recent News</h2>
				</header>
				<div class="container">
					<div class="row">
						<div class="6u">
							{% assign items = site.posts | where: "group", "news" %}
							{% for item in items limit:1 %}
        							<div>
            								<header class="major">
                								<h3><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h2>
            								</header>
            								<section class>
            									<p>
            										{{ item.excerpt }}
            									</p>
            								</section>
            								<section class="special">
                								<ul class="actions">
                    									<li><a href="{{ site.baseurl }}{{ item.url }}" class="button alt">Read More</a></li>
                								</ul>
            								</section>
       								</div>
    							{% endfor %}
						</div>
						<div class="6u">
							{% assign items = site.posts | where: "group", "news" %}
							{% for item in items offset:1 limit:1 %}
        							<div>
            								<header class="major">
                								<h3><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h2>
            								</header>
            								<section class>
            									<p>
            										{{ item.excerpt }}
            									</p>
            								</section>
            								<section class="special">
                								<ul class="actions">
                    									<li><a href="{{ site.baseurl }}{{ item.url }}" class="button alt">Read More</a></li>
                								</ul>
            								</section>
        							</div>
    							{% endfor %}
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="6u">
							<section>
								<h2>Education </h2>
								<h4>Dr. Jackson</h4>
								<p>2011-Present: BME 440 - Biomedical Transport Phenomena</p>

								<h4>Lukas Jaworski</h4>
								<p>2016: BME 112 - Intro to Biomedical Engineering Laboratory</p>
								<p>2015: BME 566 - Tissue Engineering Laboratory</p>
							</section>
							<hr class="major" />
						</div>
						<div class="3u">
							<section>
								<h3>Relevant Reviews</h3>
								<ul class="alt">
								<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/19931804">The Meniscus in Knee Osteoarthritis</a></li>
								<li><a href="dx.doi.org/10.1016/j.jbiomech.2015.02.008">Mechanobiology of the Meniscus</a></li>
								<li><a href="http://www.sciencedirect.com/science/article/pii/S0142961211007022">The Knee Meniscus</a></li>
								</ul>
							</section>
							<hr class="major" />
						</div>
						<div class="3u">
							<section>
								<h3>Useful Links</h3>
								<ul class="alt">
									<li><a href="http://welcome.miami.edu/">University of Miami</a></li>
									<li><a href="http://bme.miami.edu/">BME Department</a></li>
									<li><a href="http://www.nature.com/index.html">Nature</a></li>
									<li><a href="http://www.cell.com/">Cell</a></li>
								</ul>
							</section>
							<hr class="major" />
						</div>
					</div>
				</div>
			</section>
