---
layout: default
---

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Orthopaedic Tissue Research</h2>
        <p>subtitle</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="4u">
                <section>
                    <h3>Recent News</h3>
                    {% for post in site.categories.news %}
                    {% assign count = 0 %}
                        {% if post.categories contains 'tissues' %}
                            {% if count < 5 %}
                                <p>
                                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date_to_string }} {{ post.title }}</a>
                                </p>
                                {% capture count %}{{ count | plus:1 }}{% endcapture %}
                                {{ count }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </section>
                <hr />
                <section>
                    <h3>Publications</h3>
                    {% for post in site.categories.publication %}
                        {% if post.categories contains 'tissues'  %}
                            <p>
                                {{ post.content }}
                            </p>
                        {% endif %}
                    {% endfor %}
                </section>
            </div>
            <div class="8u skel-cell-important">
                <section>
                    <h2>Overview</h2>
                    <a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
                    <p class="justify"> Knee meniscus tissues are avascular tissues that assist in load bearing and shock absorption
                    in the knee, amongst other functions. Due to its lack of vascularization, nutrients and fluids
                    must find alternative means of reaching the inner areas of the meniscus. In this lab, we are
                    studying different transport properties of knee meniscus tissues. </p>

                    <p class="justify">Some of the properties being investigated include: the apparent glucose diffusivity, electrical
                    conductivity, the glucose partition coefficient, and hydraulic permeability. </p>

                    <p class="justify">Our long term goals are to (1) better understand the pathophysiology involved in the development
                    of knee meniscus injury and degeneration; (2) explore the roles of solute and fluid transport in
                    the nutritional supply and mechanical functioning of the meniscus in order to more fully understand
                    the origins of meniscal degradation; and (3) identify effective treatment solutions for Osteoarthritis.
                    </p>

                    {% assign count = 0 %}
                </section>
            </div>
        </div>
    </div>
</section>
