---
layout: default
---

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Orthopaedic Tissue Research</h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="8u">
                <section>
                  <p class="justify"> Knee meniscus tissues are avascular tissues that assist in load bearing and shock absorption
                  in the knee, amongst other functions. Due to its lack of vascularization, nutrients and fluids
                  must find alternative means of reaching the inner areas of the meniscus. In this lab, we are
                  studying different transport properties of knee meniscus tissues. </p>

                  <p class="justify">Some of the properties being investigated include: the apparent glucose diffusivity, electrical
                  conductivity, the glucose partition coefficient, and hydraulic permeability. </p>

                  <p class="justify">Our long term goals are to (1) better understand the pathophysiology involved in the development
                  of knee meniscus injury and degeneration; (2) explore the roles of solute and fluid transport in
                  the nutritional supply and mechanical functioning of the meniscus in order to more fully understand
                  the origins of meniscal degradation; and (3) identify effective treatment solutions for Osteoarthritis.
                  </p>
                </section>
            </div>
            <div class="4u skel-cell-important">
                <section>
                    <div class="img_wrapper">
                      <img src="images/tissues2.png" class="image fit" alt="" onload="imgLoaded(this)"/></a>
                    </div>
                    <p class="justify"> Knee meniscus tissues are avascular tissues that assist in load bearing and shock absorption
                    in the knee, amongst other functions. Due to its lack of vascularization, nutrients and fluids
                    must find alternative means of reaching the inner areas of the meniscus. In this lab, we are
                    studying different transport properties of knee meniscus tissues. </p>

                    <p class="justify">Some of the properties being investigated include: the apparent glucose diffusivity, electrical
                    conductivity, the glucose partition coefficient, and hydraulic permeability. </p>

                    <p class="justify">Our long term goals are to (1) better understand the pathophysiology involved in the development
                    of knee meniscus injury and degeneration; (2) explore the roles of solute and fluid transport in
                    the nutritional supply and mechanical functioning of the meniscus in order to more fully understand
                    the origins of meniscal degradation; and (3) identify effective treatment solutions for Osteoarthritis.
                    </p>
                </section>
            </div>
          </div>
          <div class="row">
            <div class="6u">
            <section>
                <h3>Recent News</h3>
                {% assign items2 = site.posts | where: "group", "news" %}
                {% assign items = items2 | where: "area", "tissues" %}
                {% for item in items limit:5 %}
                  <p>
                      <a href="{{ site.baseurl }}{{ item.url }}">{{ item.date | date_to_string }} &mdash; {{ item.title }}</a>
                  </p>
                {% endfor %}
            </section>
          </div>
          <div class="6u">
            <section>
                <h3>Publications</h3>
                {% assign items2 = site.posts | where: "group", "publication" %}
                {% assign items = items2 | where: "area", "tissues" %}
                {% for item in items limit:5 %}
                    <p>
                        {{ item.content }}
                    </p>
                {% endfor %}
            </section>
          </div>
        </div>
    </div>
</section>
