<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" > <img src="{{ site.baseurl }}/images/Miami_Hurricanes_logo.svg" class="fit" style="vertical-align: middle">   Jackson Lab</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/research.html">Research</a></li>
            <li><a href="{{ site.baseurl }}/people.html">People</a></li>
            <li><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
            <li><a href="{{ site.baseurl }}/news.html">News</a></li>
            <li><a href="{{ site.baseurl }}/join.html">Join Us</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
            <li><a href="{{ site.baseurl }}/contact.html" class="button special">Contact</a></li>
        </ul>
    </nav>
</header>
