---
layout: default
---
<div class="wrapper style1">
    <article class="container">
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section class="post-content">
          <div class="row">
            <div class="2u">
              <section>
                <h3></h3>
              </section>
            </div>
            <div class="8u">
              <section>
                {{ content }}
              </section>
            </div>
            <div class="2u">
            </div>
          </div>
        </section>

        <footer>
              {% assign items = site.posts | where: "group", "news" %}
              {% for item in items %}
                  {% if item.url == page.url %}
                      {% assign post_index0 = forloop.index0 %}
                      {% assign post_index1 = forloop.index %}
                  {% endif %}
              {% endfor %}
              {% for item in items %}
                  {% if post_index0 == forloop.index %}
                      {% assign next_post = item.url %}
                  {% endif %}
                  {% if post_index1 == forloop.index0 %}
                      {% assign prev_post = item.url %}
                  {% endif %}
              {% endfor %}
              {% if next_post %}
                  <a href="{{ site.baseurl }}{{ next_post }}" class="float-right"> Next Post &rarr;</a>
              {% endif %}
              {% if prev_post %}
                  <a href="{{ site.baseurl }}{{ prev_post }}" class="float-left">&larr; Previous Post</a>
              {% endif %}
        </footer>
    </article>
</div>
